@font-face {
    font-family: 'TBC Din Mtavruli Medium';
    src: url('../fonts/tbcdin_mtavruli_medium_0.ttf');
  }

@font-face {
    font-family: 'TBC Din Nusxuri Medium';
    src: url('../fonts/tbcdin_nusxuri_medium_0.ttf');
}